html{
    font-family: "Quicksand", sans-serif;
    margin: 0px;
    padding: 0px;
    height: inherit;
  }
  input[type=number]::-webkit-inner-spin-button, 
  input[type=number]::-webkit-outer-spin-button { 
    -webkit-appearance: none; 
    margin: 0; 
  }

  
body {
    background-color: rgb(41,180,187);
    margin: 0px;
    padding: 0px;
    width: 100%;
    height: 100%;


  }
section{
    display: flex;
    justify-content: center; 
    align-items: center;
    width: 100%;
    height: 100%;
   

}
.Flex-conatiner{
  background-color: rgb(255,255,255);
  padding: 50px;
  width: 50%;
  height: 82%;
  display: flex;
  gap: 20px;
  flex-direction: column;


  
}
form{
  display: flex;
  flex-direction: column;
  border-top: 2px solid rgba(153, 153, 153, 0.363);
  padding: 40px 0;
  gap: 20px;
}
.form-title{
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: fit-content;
  width: 100%;
}
.form-input{
  display: flex;
  width: 100%;
  gap: 10px;

}
.form-input input{
  margin: 0;
  min-height:30px;
  border: 0;
  outline: 1px solid #858585;
  padding:0 40px 0 10px;

  width: calc(100% - 50px);
}
.form-icon{
  /*No debo meter display flex si no voy a acomodar 2 hijos con position rea*/
  width: calc(100% + 64px);

}
.form-icon i{
  position: absolute;
  color: #fff;
  margin-top: 7px;
  transform: translateX(-24px);

}
.form-icon input{
  margin: 0;
  min-height:30px;
  border: 0;
  outline: 1px solid #858585;
  padding:0 40px 0 10px;
  width: calc(100% - 50px);
}
.form-title  img{
  width: 25px;
  height: 25px;
  cursor: pointer;

}

.form-title h1{
  font-size: 30px;
  margin: 0;
  color: rgb(104,194,191);
}
textarea{
  min-height:70px;
  resize: none;
}
::placeholder{
  
  padding: 0 8px;
}
.form-input-maps::placeholder{
  padding: 0 8px;
  color: aliceblue;
}
.form-input-maps{
  background: rgb(40,179,186);
  border: none;
}

.input-boton{ 
  padding: 10px 30px;
  background: rgb(40,179,186);
  border: none;
  min-height:25px;
  color: #fff;
  border-radius: 10px;
  cursor: pointer;
}

@media only screen and (max-width:800px) {
  .form-input{
    flex-direction: column;  
    gap: 20px;
  }
  .Flex-conatiner{
    width: 100%;
    height: inherit;
  
  }
  .html{
    height: 100%;
  }

  textarea{
  padding: 0;
  margin: 0;
  border: 0;
  outline:1px solid #888585 ;
  }
  .form-input input{

    min-height:40px;

  }
  .form-icon i{

    margin-top: 10px;

  
  }
  .form-icon{ 
    width: 100%;
  }

  .form-input-boton{ 
    display: flex;
    justify-content: center;
  }
  .input-boton { 
    padding: 20px 60px;
    font-size: 19px;

  }


}









